{% extends "@SiteSite/layout.html.twig" %}

{% block title %}Administration{% endblock %}

{% block pagetitle %}Liste des utilisateurs du site{% endblock %}

{% block testid %}
    {% if identifiant == 2 %}
        <table>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Login</th>
                <th>Mot de passe</th>
                <th>Date de naissance</th>
                <th>Est admin</th>
                <th>Crée le </th>
                <th>Modifié le</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.nom|e }}</td>
                    <td>{{ user.prenom|e }}</td>
                    <td>{{ user.identifiant|e }}</td>
                    <td>{{ user.motdepasse|e }}</td>
                    <td>{{ user.anniversaire|date('D-m-y') }}</td>
                    <td>{{ user.isadmin }} </td>
                    <td>{{ user.created|date('D-m-y') }}</td>
                    <td>{{ user.modified|date('D-m-y') }}</td>


                </tr>
            {% endfor %}
        </table>
        
    {% else  %}
        <div>
            Cette page ne vous est pas accessible, vous êtes anonyme.
            <a href="{{ path('site_site_homepage') }}">Redirection sur l'accueil</a>
        </div>
    {% endif %}
{% endblock %}


{% block body %}

{% endblock %}