{% extends "@SiteSite/layout.html.twig" %}

{% block othersheets %}
    <link rel="stylesheet" href="{{ asset('css/administration.css') }}"/>
{% endblock %}

{% block title %}Administration{% endblock %}

{% block pagetitle %}Liste des utilisateurs du site{% endblock %}

{% block testid %}
    {% if identifiant == 2 %}
        <table>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Login</th>
                <th>Mot de passe</th>
                <th>Date de naissance</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.name|e }}</td>
                    <td>{{ user.firstname|e }}</td>
                    <td>{{ user.login|e }}</td>
                    <td>{{ user.password|e }}</td>
                    <td>{{ user.birthdate|date('D-m-y') }}</td>


                </tr>
            {% endfor %}
        </table>
    {% else  %}
        <div>
            Cette page ne vous est pas accessible, vous êtes anonyme.
            <a href="{{ path('site_site_homepage') }}">Redirection sur l'accueil</a>
        </div>
    {% endif %}
{% endblock %}


{% block body %}
    <a href="{{ path('site_site_menu') }}">Menu du Site</a>
{% endblock %}