
    {% if identifiant == 1 %}
        <div>
            Vous êtes bien connecté.
        </div>
        <div>
            <ul>
                <li><a href="{{ path('site_site_homepage') }}">Redirection sur l'accueil</a></li>
                <li><a href="{{ path('site_site_shop') }}">Accès au magasin </a></li>
                <li><a href="{{ path('site_site_disconnect')}}">Se deconnecter </a></li>
                <li><a href="{{ path('site_site_panier') }}">Accès à votre panier </a></li>
                <li><a href="{{ path('site_site_profil', {'num':1}) }}">Accès à votre profil </a></li>
            </ul>
        </div>
    {% elseif identifiant == 2  %}
        <div>
            Vous êtes bien en mode administrateur.
        </div>
        <div>
            <ul>
                <li><a href="{{ path('site_site_admin') }}">Accès à la liste des utilisateurs </a></li>
                <li><a href="{{ path('site_site_disconnect')}}">Se deconnecter </a></li>
                <li><a href="https://fr.wikipedia.org/wiki/Amour_et_Amnésie">lien vers amour et amnésie </a></li>
            </ul>
        </div>
    {% else  %}
        <div>
            Vous êtes anonyme.
            <ul>
             <li><a href="{{ path('site_site_sign_up') }}">S'inscrire</a></li>
             <li><a href="{{ path('site_site_sign_in') }}">Se connecter</a></li>
            </ul>
        </div>


    <!-- RAJOUTER CAS ADMIN, LIEN VERS PANIER, ET EDITER SON COMPTE -->
    {% endif %}